/*
*
*  HTML Elements
*
*/

body {
	background-color: #596237;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
	color: #000000;
}


a img {
	border:0px;
}

a:link {
	color: #996600;
	text-decoration:none;

}

a:visited {
	color: #996600;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #663300;
}

a:active {

}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: x-large;
	font-weight: bold;
}

h2 {
	font-size: large;
	font-weight: bold;
}

h3 {
	font-size: medium;
	font-weight: bold;
	border-bottom: 4px solid #B6C684;
}

h4 {
	font-weight:bold;
	color:#000033
}

h5 {
	font-weight: bold;
	color: #330000;
}
td, th {

}


/*
*
* Structural divs and ids
* Deleted during theme development
* Copy from style1.css if needed
*
*/



/*
*
* Classes
*
*
*/



.caption {
	font-style: italic;
	border: 1px solid;
	border-color: #B6C684;
	padding: 3px;
	text-align: left;
	width: auto;
}


.citation {
	font-style: italic;
}

.clear-both {
	clear: both;
}

.float-pics-right {
	float: right;
	margin: 5px;
	padding: 5px;
	text-align:center;
/*	border: 1px solid;
	border-color: #B6C684; */
}

.float-pics-left {
	float: left;
	margin: 5px;
	padding: 5px;
	text-align:center;
/*	border: 1px solid;
	border-color: #B6C684; */
}

.footnote
 {
 	font-size: smaller;
 }
 
.image {
	padding: 5px;
	border: 1px solid;
	border-color: #B6C684;
	text-align: center;
}

.important {
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    background-color: #F7FF6B;
    border: 8px solid #FFD26B;
    color: red;
    font-weight: bold;
    padding: 8px;}

.last-updated {
	font-size: x-small;
	text-align: right;
	clear: both;
	width: 770px;
	font-style: italic;
	color: #666666;
}
.left-align {
	text-align: left;
}

.match-results a {
	/*display: block;*/
	font-weight: bold;
	background-color: #596237;
	padding: 0.7em;
	border-bottom: 1px solid #CCCC99;
}

.match-results a:link {
	color: #CCCC99;
}

.match-results a:visited {
	color: #CCCC99;
	text-decoration: none;
}

.match-results a:hover {
	color: #663300;
	background-color: #B6C684;
	text-decoration: none;
}

.match-results a:active {

}

ul.match-results {
  margin-left: -2.4em;
  margin-top: 2em;
}

.match-results li {
  display: block;
  list-style: none;
  height: 45px;
}

#node-13 .match-results {
  margin-top: 15px;
}

.trap-results th {

}

.paleblue {
	background-color: #CCFFFF;
}

.photo-3up-row {
	width: 580px;
	border: 1px solid;
	border-color: #596237;
}

.photo-3up-cell {
	width: 170px;
	float: left;
	margin: 5px;
	padding: 5px;
	text-align:center;
}

.photo-3up-cell .caption {
	width: 164px;
	font-size: small;
}

.right-align {
	text-align: right;
}

.roster table {
/*	border: 1px solid black;
	border-color: #844D18; */
}
.roster th {
/*	border: 1px solid black;
	border-color: #844D18; */
}
.roster td {
/*	border: 1px solid black;
	border-color: #844D18; */
	font-size: smaller;
}

.silhouette-offhand-caption {
	width: 250px;
	text-align: center;
}

.table-headline {
	font-weight: bold;
}



/*
*
*
*	IDs
*
*
*/

#silhoutte-offhand01 {
	width: 270px;
}

#silhoutte-offhand02 {
	width: 270px;
}

#trap-microphones-caption {
	width: 420px;
	text-align: left;
	margin-top: 40px;
}

#trap-microphones {

}
