/*
*
*  HTML Elements
*
*/

body {
	background-color: #596237;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
	color: #000000;
}


a img {
	border:0px;
}

a:link {
	color: #996600;
	text-decoration:none;

}

a:visited {
	color: #663300;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #663300;
}

a:active {

}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: xx-large;
	font-weight: bold;
}

h2 {
	font-size: large;
	font-weight: bold;
}

h3 {
	font-size: medium;
	font-weight: bold;
}

h4 {
	font-weight:bold;
	color:#000033
}

h5 {
	font-weight: bold;
	color: #330000;
}
td, th {

}


/*
*
* Structural divs and ids
*
*/

.body {
	width: 100%;
	text-align: center;
}

.container {
	background-color: #FFFFCC;
	border-width: 0 3px 3px 2px;
	border-style: solid;
	border-color: #B6C684;
	width: 780px;
	margin: -18px auto 0 auto;
	padding: 10px 0 0 0;
}

.content {
	padding: 20px;
	height: 100%;
	margin-left: 140px;
	text-align:left;
}

.footer {
	text-align:center;
	font-size:x-small;
	clear:both;
}

.header {
	height: 107px; 
	background-color: #CCCC99;
	padding: 0;
	margin: -2px;
	clear: both;
	text-align:center;
}




.leftnav {
/*	background-color: #CCCC99;*/
	width: auto;
	height: auto;
	float: left;
	color: #844D18;
	clear: both;
	padding: 8px;
	text-align: center;
	line-height: normal;
}

.leftnav ul {
	list-style-type: none;
	margin: -8px 0 0 -9px;
	padding: 0;
}

.leftnav li {
	text-decoration: none;
	text-align: left;
}

.leftnav li a {
	background-color: #596237;
	padding: 6px 6px 6px 10px;
	width: 7.5em;
	display: block;
	border-bottom: 1px solid #CCCC99;
}
.leftnav li a:link {
	color: #CCCC99;
}

.leftnav li a:visited {
	color: #CCCC99;
	text-decoration: none;
}

.leftnav li a:hover {
	color: #663300;
	background-color: #B6C684;
	text-decoration: none;
}

.leftnav li a:active {

}

.leftnav .subnav {
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.leftnav .subnav li {
	list-style-type: none;
	margin-left: 22px;
}

.leftnav .subnav li a {
}

.leftnav .subnav li a:link {
	background-color: #7A864B;
	border-bottom: 2px solid #CCCC99;
	color: #CCCC99;
	text-decoration: none;
}

.leftnav .subnav li a:visited {
	text-decoration: none;
	color: #CCCC99;
	background-color: #7A864B;
}

.leftnav .subnav li a:hover {
	color: #663300;
	background-color: #B6C684;
	text-decoration: none;
}



.leftnav .subnav li a:active {

}


div#skipnav {

}

div#skipnav a, div#skipnav a:hover, div#skipnav a:visited {
	/*font-size: xx-small;*/
	position:absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

div#skipnav a:active, div#skipnav a:focus {
	color:#000000;
	position: static;
	width: auto;
	height: auto;
	font-size:small;
}


/*
*
* Classes
*
*
*/



.caption {
	font-style: italic;
	border: 1px solid;
	border-color: #B6C684;
	padding: 3px;
	text-align: left;
	width: auto;
}


.citation {
	font-style: italic;
}

.clear-both {
	clear: both;
}

.float-pics-right {
	float: right;
	margin: 5px;
	padding: 5px;
	text-align:center;
/*	border: 1px solid;
	border-color: #B6C684; */
}

.float-pics-left {
	float: left;
	margin: 5px;
	padding: 5px;
	text-align:center;
/*	border: 1px solid;
	border-color: #B6C684; */
}

.footnote
 {
 	font-size: smaller;
 }
 
.image {
	padding: 5px;
	border: 1px solid;
	border-color: #B6C684;
	text-align: center;
}

.important {
	background-color: white;
	color: red;
	font-weight: bold;
	border: 2px dashed red;
	padding: 5px;
}

.last-updated {
	font-size: x-small;
	text-align: right;
	clear: both;
	width: 770px;
	font-style: italic;
	color: #666666;
}
.left-align {
	text-align: left;
}

.match-results a {
	/*display: block;*/
	font-weight: bold;
	background-color: #596237;
	padding: 0.7em;
	border-bottom: 1px solid #CCCC99;
}

.match-results a:link {
	color: #CCCC99;
}

.match-results a:visited {
	color: #CCCC99;
	text-decoration: none;
}

.match-results a:hover {
	color: #663300;
	background-color: #B6C684;
	text-decoration: none;
}

.match-results a:active {

}

.trap-results th {

}

.paleblue {
	background-color: #CCFFFF;
}

.photo-3up-row {
	width: 580px;
	border: 1px solid;
	border-color: #596237;
}

.photo-3up-cell {
	width: 170px;
	float: left;
	margin: 5px;
	padding: 5px;
	text-align:center;
}

.photo-3up-cell .caption {
	width: 164px;
	font-size: small;
}

.right-align {
	text-align: right;
}

.roster table {
/*	border: 1px solid black;
	border-color: #844D18; */
}
.roster th {
/*	border: 1px solid black;
	border-color: #844D18; */
}
.roster td {
/*	border: 1px solid black;
	border-color: #844D18; */
	font-size: smaller;
}

.silhouette-offhand-caption {
	width: 250px;
	text-align: center;
}

.table-headline {
	font-weight: bold;
}

ul.content-tabs {
	list-style-type: none;
	margin: 0 0 0.7em 0;
	padding: 0;
	float: left;
	width: 100%;
}

ul.content-tabs li {
	margin: 0;
	padding: 0;
	display: inline;
	text-align: center;
}

ul.content-tabs li a {
	font-weight: bold;
	padding: 0.7em;
	border-bottom: 1px solid #CCCC99;
	border-right: 1px solid #CCCC99;
	background-color: #596237;
	width: 9em;
	float: left;	
}

ul.content-tabs li a:link {
	color: #CCCC99;
}

ul.content-tabs li a:visited {
	color: #CCCC99;
	text-decoration: none;
}

ul.content-tabs li a:hover {
	color: #663300;
	background-color: #B6C684;
	text-decoration: none;
}

ul.content-tabs li a:active {

}


/*
*
*
*	IDs
*
*
*/

#silhoutte-offhand01 {
	width: 270px;
}

#silhoutte-offhand02 {
	width: 270px;
}

#trap-microphones-caption {
	width: 420px;
	text-align: left;
	margin-top: 40px;
}

#trap-microphones {

}
